/* Do everything in this file */
h2{border-bottom: 1px solid red;
clear:right;}
#tetrimino{float:right;
width: 40%;
margin: 1em;}
div.tet{float:left;
width: 20%;
margin: 1em;}
div{border: 2px solid red;}
footer{clear: left;
position: fixed;
width: 20%;
bottom: 80%;
left: 80%;
z-index: -1;}